<div class="page-header">
  <h1>Select a word list</h1>
</div>

{{#each model as |set|}}
<div class="col-md-2  card-layout m-10 clickable" {{action 'explore' set}}>
    <div class='col top'>
        <h3>Word List : {{set.id}}</h3>
    </div>
</div>
{{/each}}